.img {
    display: inline-flex;
    flex-direction: row;
    margin: 20px;
    width: 300px;
    height: 200px;
    position: relative;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    span {
        color: white;
        font-weight: bold;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        transform: translate(20%, 800%);
    }
}
